*{
  margin: 0;
  padding: 0;
}
body{
  font-family: 'Hind Siliguri', sans-serif;
  counter-reset: Serial;    
}
a{

}
.warper{
    max-width: 97%;
    margin: 0 auto;
}
  	svg{height: :50vw;}

  .bdmap path{
   	stroke-width:1px;
  	pointer-events:all; 		
		transition: .6s fill;
		fill-opacity:1;
		fill-rule:evenodd;
		stroke:#ffffff;
		stroke-linecap:butt;
		stroke-linejoin:miter;
		stroke-opacity:1;
		cursor: pointer;
  	}
   	path.divrajshahi{fill:#aab0c8;} 	
   	path.divrangpur{fill:#ff5722;} 	
   	path.divmymensingh{fill:#3f51b5;} 	
   	path.divdhaka{fill:#00bcd4;} 	
   	path.divsylhet{fill:#e58f8d;} 	
   	path.divchattogram{fill:#ffbc24;} 	
   	path.divkhulna{fill:#ff7272;} 	
   	path.divbarishal{fill:#15ff54;} 	
  	.bdmap path:hover{
  		fill:#f6902a;
  		stroke:blue;}


  .iconmark{
  fill:#000;
  }
  .districttext{
    font-size: 20px;
    font-weight: bold;
  }


.coronasummery{
  display: flex;
}
.countCard {
    width: 33.333333333%;
    text-align: center;
    padding: 5px;
    border-radius: 4px;
    border: 0;
    border: 1px solid rgb(241, 241, 241);
    margin: 5px;
    color: #333;
    background: #fff;
    box-shadow: 0 4px 8px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
}
.countCard span{
    display: block;
    font-size: 16px; 
}
.confirmed {
    color: #7f5fce;
    border-bottom: 7px solid #7f5fce;
}

.recovered {
    color: #4CAF50;
    border-bottom: 7px solid #4CAF50;
}
.deaths {
    color: #f11771;
    border-bottom: 7px solid #f11771;
}
span.todayconfirmedcount,
span.todayrecoveredcount,
span.todaydeathscount,
span.confirmedcount,
span.recoveredcount,
span.deathscount{
    font-size: 24px;
    font-weight: bold;
}



.marquee{
  background: #e04311;
    color: #fff;
}
#districts{
  display: flex;
  margin: 10px 0;
}

#districts li{
  list-style: none;
  padding: 0 10px;
  border-right: 1px solid #ddd;
}
#districts li:hover{}



.bdmap{
  border: 1px solid #e04311;
  margin-bottom: 20px; 
  border-bottom: 7px solid #e04311;
  border-radius: 0px 0px 4px 4px;  
}





table#DistrictswiseTable {
  width:100%;
}
table#DistrictswiseTable, 
table#DistrictswiseTable th, 
table#DistrictswiseTable td {
  border: 1px solid #7f5fce;
  border-collapse: collapse;
}

table#DistrictswiseTable th, 
table#DistrictswiseTable td {
  padding: 15px;
  text-align: center;
}

table#DistrictswiseTable th:nth-child(2), 
table#DistrictswiseTable td:nth-child(2) {
  padding: 15px;
  text-align: left;
}

table#DistrictswiseTable tr:nth-child(even) {
  background: #eee;
}
table#DistrictswiseTable tr:nth-child(odd) {
 background-color: #fff;
}
table#DistrictswiseTable th {
    background: #7f5fce;
    color: #fff;
    font-size: 16px;
    font-weight: bold;  
}

table#DistrictswiseTable tr td:first-child:before
{
  counter-increment: Serial;      /* Increment the Serial counter */
  content: counter(Serial); /* Display the counter */
}
.generalcase{
    background: #7f5fce;
    text-align: center;
    color: #fff;
    padding: 10px 0;
    font-size: 16px;
    font-weight: bold;   
}


#GenderCase, 
#AgeCase, 
#AgeCase{
  border: 1px solid #7f5fce;
  margin-bottom: 20px; 
  border-bottom: 7px solid #7f5fce;
  border-radius: 0px 0px 4px 4px;
}

.generalcase_inner,
.footer{
  padding: 10px;
  border: 1px solid #7f5fce;
  margin-bottom: 20px; 
  border-bottom: 7px solid #7f5fce;
  border-radius: 0px 0px 4px 4px;  
}

.update{
    text-align: center;
}

.copyright{
    text-align: center;
}

